<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UseCases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>rVPRExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F59A42871D655A7400E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A42A21D655E4C00E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A42AB1D655E4C00E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A42DA1D657FD300E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A42EB1D65AF0A00E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A42F41D65AF0A00E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A43181D65B89B00E9EFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
